:root {
    --alazan: rgb(255, 0, 0);
    --lead: rgb(31, 30, 30);
    --blue: rgb(0, 0, 0);
    --violet: rgb(0, 0, 0);
    --text-white: hsl(0, 0%, 100%);
    --text-light-gray: hsl(0, 0%, 14%);
    --body-bg-color:rgba(250, 0, 0, 0.822);
    --glass-bg-color: hsla(0, 0%, 100%, 0.05);
    --border-color: hsla(0, 0%, 100%, 0.25);
    --blur: blur(5px);
    --button-hover-color: hsla(0, 0%, 0%, 0.3);
    --white: rgb(234,220,203);
    --gray: rgb(0, 0, 0);
    --sky-blue: rgb(145,131,121);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--sky-blue);
    color: var(--text-light-gray);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    overflow-x: hidden;
}
canvas{
    padding: 10px;
    height: 1px;
    width: 8px;
    border: 1px solid #424242;
    border-radius: 10px;
    background: #fff;
}
div{
    padding: 10px;
    text-align: center;
    height: 25%;
    width: 550px;
    background: #fafafa;
    box-shadow: 0px 0px 20px 0px #878787;
    border-radius: 10px;
    margin: 10px;
}
a
{
    text-decoration: black;
    font-weight: 500;
    display: inline-block;
}
ul {
    list-style-type: none;
    margin: 50;
    padding: 50;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
}

.menu{
    display: block;
    color: rgb(149, 83, 64);
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}
.grafica1{
    height: 320px;
    position: absolute;
    left: 600px;
    top: 65px;
}
.grafica2{
    position: absolute;
    height: 320px;
    left: 600px;
    top: 400px;
}